<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /mentariilmukarawang
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /mentariilmukarawang/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /mentariilmukarawang/index.php
</IfModule>