#nav {
    height: 110px;
    background: black;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    
  }
  
  #logo {
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    transition: all ease .5s;
  }
    
  #nav.shrink {
    height: 80px;
    transition: all ease .5s;
  }
  
  #nav.shrink #logo {
    padding: 5px;
    transition: all ease .5s;
  }